<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RITI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="vertical-text">
      <span>RI</span>
      <span>TI</span>
      
   
     <a href="{{ url_for('num') }}" class="here-button">HERE</a>
    </div>
 
 <p style="position: absolute; bottom: 10px; width: 100%; text-align: center; font-size: 24px; color: rgb(255, 255, 255); font-weight: bold;">
   Manu Siddharth
</p>
</body>
</html>
