<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enter Lucky Number</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='num.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>
  <div class="form-container">
    <h1>ENTER YOUR LUCKY<br>NUMBER</h1>
    <form method="POST">
      <input type="number" name="number" placeholder="Give a Goddamn number" required>
      <br>
      <button type="submit">SUBMIT</button>
      <hr>
      <br>
       <a href="{{ url_for('data') }}" class="here-">DATA</a>
    </form>
  </div>
   <p style="position: absolute; bottom: 10px; width: 100%; text-align: center; font-size: 24px; color: rgb(255, 255, 255); font-weight: bold;">
   Manu Siddharth
</p>
</body>
</html>
